

body {
    background: rgb(151,0,255);
    background: linear-gradient(90deg, rgba(151,0,255,1) 3%, rgba(0,158,164,1) 100%);
}
#Weather {
    font-weight: bold;
    background-color: lightblue;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    size: auto;
    color: #6f707d;
    font-family: 'Marcellus', serif
}

.dropdown_custom{
    border-width: 0px;
    background-color: #FF7F50;
    border-radius: 50px;
    height: 40px;
    width: 150px;

}
.text {
    text-transform: uppercase;
    color:black;
}