<meta charset="UTF-8">
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="eltemps.css">

</head>

<body>

<div id="eltemps">

    <div class="pl-5 pt-2 pb-2" >
        <h1>Continente: </h1>
        <select class="dropdown_custom text" >
            <option  v-for="continente in continentes" v-on:click="continenteSeleccionado(continente)" >{{continente}}</option>
        </select>

    </div>


<temps-component v-if="recogerContinente() === 'Europa'"  v-bind:llista-ciutats="europa" v-bind:primeraCiudad="europa[0]"></temps-component>
<temps-component v-if="recogerContinente() === 'Asia'"  v-bind:llista-ciutats="asia" v-bind:primeraCiudad="asia[0]"></temps-component>
<temps-component v-if="recogerContinente() === 'Africa'"  v-bind:llista-ciutats="africa" v-bind:primeraCiudad="africa[0]"></temps-component>
<temps-component v-if="recogerContinente() === 'America'"  v-bind:llista-ciutats="america" v-bind:primeraCiudad="america[0]"></temps-component>
<temps-component v-if="recogerContinente() === 'Oceania'"  v-bind:llista-ciutats="oceania" v-bind:primeraCiudad="oceania[0]"></temps-component>


</div>



<script src="https://unpkg.com/vue"></script>
<script src="./main_component.js"></script>
</body>

</html>
